@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: #f9f9f9;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}


img {
	user-select: none;
}

html {
	user-select: none;
}


.blog-header{
	background-image: url('../public/img/layout/blog-header-background.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}